
*.pkz
DimRed.ipynb
NB&LogReg.ipynb
Part 1.ipynb
Part_2.ipynb
Part_3.ipynb
Part_4.ipynb
Part_5.ipynb
SVM.ipynb
.ipynb_checkpoints/SVM-checkpoint.ipynb
.ipynb_checkpoints/Part_5-checkpoint.ipynb
.ipynb_checkpoints/Part 1-checkpoint.ipynb
.ipynb_checkpoints/NB&LogReg-checkpoint.ipynb
*.npz
Part 1.ipynb
Part_2.ipynb
Part_3.ipynb
Part_4.ipynb
Part_5.ipynb
Part_5.ipynb
Part_4.ipynb
Part_3.ipynb
Part_2.ipynb
Part 1.ipynb
